@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

:root{
    --cor-do-texto: rgb(183, 178, 15);
    --cor-de-fundo: #00162E;
    --fundo-senha: #011c67;
    --fundo-texto:#001b75;
    --borda:#00ccff;
    --jacquard24: 'Jacquard 24', sans-serif;'
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    font-family: "Jacquard 24", system-ui;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}